/*--PLATFORMER TEMPLATE--*/
/*!--CODE  WRITTEN BY ANGELLICA B. 2019--*/
/*STYLESHEET*/
body {
	background-color: black;
}

.gameWindow {
	position: absolute; 
	left: 20%; 
	background-color: orange;
	width: 800px;
	height: 600px;
	background-image: url("/blocky_menu.gif");
}

.topBar {
	position: absolute;  
	background-color: rgb(128,0,0,0.5);
	width: 800px;
	height: 10%;
}

.about {
	position: absolute; 
	left: 20%; 
	background-color: red;
	width: 800px;
	height: 600px;
	background-image: url("/blocky_menu.gif");
}

.game {
	position: absolute; 
	left: 20%; 
	background-color: orange;
	background-image: url("/sky.png");
	width: 800px;
	height: 600px;
}

.ground {  
	top:67%;
	position: absolute;
	background-color: seagreen;
	width: 800px;
	height: 200px;
	background-image: url("/ground.png");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
	background-color: red;
	color: white;
	font-size: 20px;
	padding: 10px 15px;
	width: 130px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, sans-serif;
}

.blocky {
	background-color: red;
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	left:0;
	top: 58.9%;
	
}

.rocket {
	background-color: blue;
	width: 20px;
	height: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	border-radius: 50%;
	/*animation: launchRocket 4s;*/
	
}

.meanBlock{
	background-color: blue;
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	right:0;
	top: 58.9%;
	animation: meanBlockWalk 2s;
	animation-fill-mode: forwards;
	
}

.jumpingBlock {
	background-color: green;
	width: 50px;
	height: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	
}

.button:hover {
	background-color: #FFC38D;
	animation: fadeB 0.5s;
}

@keyframes fadeB {
	0% {opacity: 0.5;}
	100% {opacity: 1;}
}

@keyframes jump {
	0% {top: 58.9%;}
	50%{top: 10%;}
	100% {top: 58.9%;}
}

@keyframes pauseIt {
	
}

@keyframes meanBlockWalk {
	
	0%{right: 0;}
	25%{right: 100;}
	50%{right: 250;}
	75%{right: 350;}
	100%{right: 500;}
}

@keyframes launchRocket {
	
	0%{right: 0;}
	25%{right: 100;}
	50%{right: 250;}
	75%{right: 350;}
	100%{right: 500;}
}

h3 {	
	font-family: Arial, sans-serif;	
	color: white;
	font-size: 30px;
}

.rocket {
	background-image: url("C:/Users/School234/Documents/GitHub/angellicode.github.io/rocket.png");
}