body {
	background-color: black;
	overflow-x: hidden;
}

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	font-size: 100px;
}

h2 {
	font-family: 'Noto Sans TC', sans-serif;
	color: white;
	font-size: 20px;
	top: 30%;
	left: 2%;
	position: absolute;
}

p {
	font-family: 'Noto Sans TC', sans-serif;
	color: white;
	font-size: 17px;
	top: 30%;
	left: 2%;
	position: absolute;
}

h3 {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 50px;
	position: absolute;
}


.navBar {
	background-color: black;
	width: 100%;
	height: 15%;
	position: fixed;
	top:0;
}

.sideBar {
	background-color: black;
	width: 25%;
	height: 100%;
	position: fixed;
	left:0;
}

.button {
	background-color: gray;
	color: white;
	font-size: 20px;
	padding: 10px 15px;
	width: 130px;
	text-decoration: none;
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
}

.button:hover {
	background-color: lightgray;
	color: white;
	font-size: 20px;
	padding: 10px 15px;
	width: 130px;
	text-decoration: none;
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
}
html {
  scroll-behavior: smooth;
}

#about {
	background-color: rgb(0,0,0,0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 70%;
}

#works {
	background-color: rgb(0,0,0,0.89);
	position: absolute;
	width: 99.5%;
	height: 100%;
	overflow-y: scroll;
	top: 200%;
}

.work {
	background-color: lightgray;
	position: absolute;
}

#contact {
	background-color: rgb(0,0,0,0.89);
	position: absolute;
	width: 99.5%;
	height: 100%;
	top: 320%;
}