#logo {
	background-image: url("logo.png");
	width: 798px;
	height: 157px;
	margin: auto;
}

body {
	background-color: #cc99ff;
	background-image: linear-gradient(to right,purple, yellow);
}

p {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: "Arial", "sans-serif", "30px";
}

#entername, form {
	color: black;
	text-align: center;
	margin: auto;
}

#buttn {
	background-color: purple;
	width: 200px;
	height: 55px;
	margin: auto;
}

#buttn:hover {
	background-color: yellow;
}