body {
    background-color: white;
}

h1, a, h2,p {
    font-family: Tahoma, sans-serif;
    color: white;
    text-align: center;

}

#white {
    width: 100%;
    height: 1000px;
    background-color: white;
    visibility: hidden;
}

.topnav {
    overflow: hidden;
	background-color:black;
	color: white;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
  .topnav a.active:hover {
    background-color: #ddd;
    color: black;
  }

  .msg {
      color: green;
  }

#pg1 {
  background-image: url("imgs/city.jpg");
  width: 100%;
  height: 1080px;
   margin: 0 auto;
   text-align: center;
}


.button {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background-color: gray;
}

#quick_browse {
	background-color: rgba(252, 202, 3, 0.5);
	width: 100%;
	height: 300px;
	margin: 0 auto;
   text-align: center;
   overflow-x: hidden;
   overflow-y: hidden;
}

.item {
	width: 400px;
	height: 300px;
	display: inline-block;
}

.slides {display:none;}